<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <a data-th-href="@{/gohome}">
            <figure class="figure" style="text-align: center;">
                <img src="/images/logotransparent.png" class="img-fluid" alt="logo" width="200" height="200">
            </figure>
        </a>
    </div>
    <h1>All applications</h1>

    <ul data-th-each="app : ${allApplications}"> 
        <a th:href="@{/application/{id}(id=*{app.applied})}" data-th-text="*{app.applied}" ></a>
    </ul>
</body>
</html>