<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Application Details</title>
</head>

<body>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a data-th-href="@{/homepage}">
                    <figure class="figure" style="text-align: center;">
                        <img src="/images/logotransparent.png" class="img-fluid" alt="logo" width="200" height="200">
                    </figure>
                </a>
            </div>
            <div style="display: flex;">
                <div style="margin-right: 100px;">
                    <a data-th-href="@{/accountpage}">
                        <code>My account page</code>
                    </a>
                </div>
                <div style="margin-right: 100px;">
                    <a data-th-href="@{/homepage}">
                        <code>Home</code>
                    </a>
                </div>
            </div>
        </div>


        <br>
        <div class="d-flex justify-content-center">
            <div class="btn-group">
                <a data-th-href="@{/job/{id}(id=${job.id})}" class="btn btn-primary">Overview</a>
                <a class="btn btn-primary active" aria-current="page">Application</a>
            </div>
        </div>

        <br><br>
        <div style="text-align: center;">
            <h1 th:text="${job.title}"></h1>
            <p th:text="${job.company_name}+ ' • ' + ${job.job_type}"></p>
        </div>

        <form method="POST" th:action="@{/job/post/{id}(id=${job.id})}" th:object="${applicant}">

            <p>
                <span style="color:red;">*</span>
                Required Fields
            </p>

            <div class="row">
                <div class="col">
                    <label for="firstName" class="form-label"><span style="color:red;">*</span>First Name</label>
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                        th:field="*{firstName}" name="firstName">
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                </div>

                <div class="col">
                    <label for="lastName" class="form-label"><span style="color:red;">*</span>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                        th:field="*{lastName}" name="lastName">
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>

            <div class="mb-3"></div>

            <div class="mb-3">
                <label for="email" class="form-label"><span style="color:red;">*</span>Email</label>
                <p th:text="${account.email}"></p>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label"><span style="color:red;">*</span>Location</label>
                <select class="form-select" aria-label="Select country" name="location" th:value="${location}">
                    <option value="" selected>Select country</option>
                    <option th:each="locationOption: ${dropdown}" th:value="${locationOption}" th:text="${locationOption}"></option>
                </select>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
            </div>

            <div class="mb-3">
                <label for="address" class="form-label"><span style="color:red;">*</span>Address</label>
                <input type="address" class="form-control" name="address" th:field="*{address}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>

            <div class="mb-3">
                <label for="mobileNo" class="form-label"><span style="color:red;">*</span>Mobile No</label>
                <input type="text" class="form-control" name="mobileNo" th:field="*{mobileNo}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}"></div>

            <div class="mb-3">
                <label for="startDate" class="form-label"><span style="color:red;">*</span>Earliest Starting Date</label>
                <input type="date" class="form-control" name="startDate" th:field="*{startDate}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>

            <div class="mb-3">
                <label for="formFileSm" class="form-label">Resume</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>

            <div class="mb-3">
                <label for="coverLetter" class="form-label">Cover Letter</label>
                <input type="text" class="form-control" cols="30" rows="10" name="coverLetter"
                    th:field="*{coverLetter}">
            </div>

            <button type="submit" class="btn btn-primary" style="margin-bottom: 50px;">Submit Application</button>
        </form>

</body>

</html>