<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title th:text="${job.title}"></title>
</head>

<body>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a data-th-href="@{/homepage}">
                    <figure class="figure" style="text-align: center;">
                        <img src="/images/logotransparent.png" class="img-fluid" alt="logo" width="200" height="200">
                    </figure>
                </a>
            </div>
            <div style="display: flex;">
                <div style="margin-right: 100px;">
                    <a data-th-href="@{/accountpage}">
                        <code>My account page</code>
                    </a>
                </div>
                <div style="margin-right: 100px;">
                    <a data-th-href="@{/homepage}">
                        <code>Home</code>
                    </a>
                </div>
                <div style="margin-right: 100px;">
                    <a data-th-href="@{/logout}">
                        <code>Logout</code>
                    </a>
                </div>
            </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
        <div class="btn-group">
            <a class="btn btn-primary active" aria-current="page">Overview</a>
            <a data-th-href="@{/job/apply/{id}(id=${job.id})}" class="btn btn-primary">Application</a>
        </div>
    </div>

        <br><br>
        <div style="text-align: center;">
            <h1 th:text="${job.title}"></h1>
            <img th:src="${job.company_logo}" width="150px" height="150px">
            <p th:text="${job.company_name}+ ' • ' + ${job.job_type}"></p>
        </div>

        <div>
            <p th:utext="${job.description}"></p>
        </div>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" th:href="@{/job/apply/{id}(id=${job.id})}" type="button" style="margin-bottom: 50px;">Apply For This Role!</a>
        </div>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" th:href="@{/save/{id}(id=${job.id})}" type="button" style="margin-bottom: 50px;">Save This Role!</a>
        </div>
    </div>

</body>

</html>